body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.protection-container {
    max-width: 800px;
    margin: 30px auto;
}

.protection-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.protection-section h2 {
    color: #007bff;
    text-align: left;
}

.info-section {
    display: flex;
    align-items: center;
}

.info-section .text {
    flex: 1;
}

.info-section .image {
    flex: 1;
    text-align: center;
}

.info-section img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
}

.more-info {
    display: none;
    margin-top: 10px;
}

.protection-details {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.protection-details ul {
    list-style-type: none;
    padding: 0;
}

.protection-details ul li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.protection-details ul li img {
    margin-right: 15px;
}

.faq-section {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.toggle-icon {
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}
